$mainfont : 'Montserrat', sans-serif;

//Colores
$green : #4CB8B3;
$pink : #F53756;
$yellow :  #FEF46D;
$darker-yellow: #bbb340;
$darker-green: #3d9490;
$purple : #752F97;
$blackcolor : #000;
$white : #FFF;

//Media Queries
$tablet : 768px;
$phone : 468px;
$desktop : 1120px;
//Fuentes

$light : 300;
$regular : 400;
$bold : 700;
$black : 900;

//Separaciones